@CHARSET "UTF-8";

h1 {
    font-family:"Courier New";
}

h2, h3, h4 {
    font-family:Helvetica;
}

body {
    font-family:Helvetica;
    background-color:SkyBlue
}

code {
    border: 1px solid LightBlue;
    border-radius: 3px;
    font-size:14px;
    font-family:Monaco,"DejaVu Sans Mono","Courier New",monospace;
    background-color:LightBlue
}

div.body {
    padding-left:10%;
    padding-right:10%;
    padding-bottom:20px
}

nav {
    text-align:center
}

#logo {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    text-align: right
}

#tpage {
    position: absolute;
    top: 250;
    left: 0;
    width: 100%;
    text-align: center;
}
